@font-face {
  font-family: Technovier;
  src: url(./src/Techovier.ttf);
}

@font-face {
    font-family: "Technovier Thin";
    src: url(./src/Techovier\ Thin.ttf);
}

* {
    box-sizing: border-box;
}

:root {
    --olive: #CCCC99;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -99;
}

.background-video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: blur(10px);
  transform: scale(1.5);
}

.wrap {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: stretch;
    margin: 0 auto;
    max-width: 700px;
}

.window-borders {
    border: 1px solid var(--olive);
    border-top: 3px solid var(--olive);
    width: 100%;
    background: linear-gradient(to bottom, rgba(204, 204, 153, 0.3), transparent);
    background-color: rgba(0, 0, 0, 0.5)
}

.header {
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 40px;
    max-width: 700px;
    padding: 0 1rem;

    font-family: 'Technovier';
    font-size: 14px;
    color: var(--olive);
}

#icon {
    font-size: 20px;
    margin-right: 8px;
}
.header button {
    margin-left: auto;
    font-size: 1.3rem;
    height: 2rem;
    width: 200px;
    border: none;
    background: none;
    font-family: Technovier;
    color: var(--olive);
}

.header button:hover {
    border: 1px solid var(--olive);
}

.modal { /* Background/Parent element */
    display: none; /* Hidden by default */
    z-index: 1; /* Always on top of everything else */
    position: fixed; /* need this to remove from document flow, sit on top */
    top: 0; /* Anchor to top and left */
    left: 0;
    width: 100%; /* Full viewport width and height*/
    background-color: rgba(0, 0, 0, 0.0); /* Opaque background */

    /* Also using the modal fade-in here -- less jarring */
    animation: fadeIn 1s;
}

.modal-content { /* Actual modal box */
    background-color: white;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    border: 1px solid black;
    width: 30%;

    animation: fadeIn 100ms;
}

.field {
    display: flex;
    margin: 0 auto;
    margin-bottom: 8px;
    width: 40%;
    flex-direction: column;
    justify-content: left;
}

.modal-buttons {
    display: flex;
    gap: 20px;
    margin: 0 auto;
    width: max-content;
}

thead,
tbody {
}

.book_table {
    display: block;
    height: calc(100vh - 100px);
    text-align: left;

    font-family: "Technovier";
    color: var(--olive);
}

.tableBody {
    font-family: "Technovier Thin";
}

#readBox {
    background-color: var(--olive);
    color: #000;
    border-radius: 3px;
}

#readBox:hover {
    background-color: transpar/nt;
    color: var(--olive);
}

/* Animation definitions (for modal) */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}