:root {
    background-color: #e7c9a9;
}

.header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
    padding: 0 2rem;

    font-family: 'EB Garamond';
    background-color: #ffdab9;
}

.header button {
    font-size: 1rem;
    height: 2rem;
    width: 150px;
}

.modal { /* Background/Parent element */
    display: none; /* Hidden by default */
    z-index: 1; /* Always on top of everything else */
    position: fixed; /* need this to remove from document flow, sit on top */
    top: 0; /* Anchor to top and left */
    left: 0;
    width: 100%; /* Full viewport width and height*/
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.4); /* Opaque background */
}

.modal-content { /* Actual modal box */
    background-color: white;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    border: 1px solid black;
    width: 80%;
}

.modal-close { /* Close button */
    color: #aaaaaa; /* Grey X button */
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

body {
}